// app global css in SCSS form
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: rgb(255, 255, 255);
}
.title {
  font-family: $font;
  color: $primary;
  margin-right: 50px;
}
.q-header {
  background-color: rgba(132, 218, 192, 0.188);
  margin: 10px;
  border-radius: 10px;
  color: black;

  //box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 8px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.headerShadowOn {
  background-color: rgba(252, 252, 252, 0.462);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  transition: all 1s;
}
.headerShadowOff {
  box-shadow: none;
}
.q-drawer {
  background-color: rgb(250, 250, 250);
  margin: 20px 10px 10px 10px;
  border-radius: 10px;
  color: black;
  //border: 2px solid #f8fffd;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.quest_box {
  padding: 10px;
  max-width: 100% !important ;
  height: fit-content;
  //border: 1px solid $secondary;
  background-color: white;
  margin: 50px 40px 0px 40px;
  border-radius: 10px;
  color: black;
  margin: 50px;
}
.ans_box {
  // width: 800px;
  padding: 10px;
  max-width: 100% !important ;
  height: fit-content;
  background-color: rgba(252, 252, 252, 0.462);
  margin: 20px 40px 0px 40px;
  border-radius: 10px;
  color: rgb(56, 56, 56);
  border: 1px solid #e9e9e9;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.sidebar .q-drawer {
  background-color: rgb(253, 253, 253);
  color: black;
  box-shadow: none !important;
  margin: 0 !important;
  border-left: 1px solid #43434315;
  border-radius: 0px;
  margin: 0px !important;
}
.editor_box {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  margin: 30px;
  max-width: 100% !important ;
}
.user {
  border: 2px solid #fddeb4;
  background-color: #fff7f1;
  border-radius: 2rem;
  min-width: 50%;
  max-width: 60%;
  width: fit-content;
  padding-top: 20px;
  padding-right: 20px;
  height: fit-content;
}
.questionUser {
  font-weight: bold;
}
.ans_box .user {
  border: 2px solid #a2dfcb;
  background-color: $secondary;
}
.q-item {
  margin: 0px 2px 0px 2px;
  border-radius: 10px;
  color: rgb(22, 22, 22);
}
.q-item:hover {
  background-color: #b9ffe8;
}
//Scrollbar
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(235, 235, 235);
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #a2dfcb;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b9ffe8;
}
